@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.header__container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  color: transparent; }

.header__block {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header__logo {
  flex: 0 0 120px; }

.header__nav {
  display: flex;
  align-items: center; }

.header__list {
  display: flex; }
  .header__list li {
    padding: 0 20px; }

.header__link {
  text-decoration: none;
  color: #000; }
  .header__link:hover {
    color: grey; }

.header__languages {
  display: flex; }

.header__language {
  width: 40px;
  height: 40px;
  margin-left: 7px; }
  .header__language img {
    width: 100%;
    height: 100%;
    border-radius: 50px; }

.logotip {
  min-height: 100vh;
  background-color: #F9C72F; }

.logotip__image {
  padding-top: 211px;
  text-align: center; }

.about {
  width: 100%;
  height: 100vh; }

.about_h {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  color: #E35205;
  margin-top: 133px; }

.about_text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  text-align: left;
  color: #555555;
  margin-top: 28px; }
  .about_text p a {
    color: #5E8AB4; }

.partners h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.6em;
  color: #E35205;
  margin-top: 53px;
  margin-bottom: 30px; }

.partners .partners_img {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px; }
  .partners .partners_img div {
    width: 146.01px;
    height: 150px;
    background: #FFFFFF;
    /* Shadow */
    box-shadow: 15px 15px 35px 5px rgba(0, 0, 0, 0.15);
    border-radius: 35px; }
    .partners .partners_img div img {
      margin: 23px 22px; }

.about_slider {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 60px; }
  .about_slider .about_slider_arrows {
    width: 48.67px;
    height: 50px;
    background: #FFFFFF;
    /* Shadow */
    border-radius: 50px;
    box-shadow: 15px 15px 35px 5px rgba(0, 0, 0, 0.15); }
    .about_slider .about_slider_arrows img {
      margin: 19px 21px; }

.course {
  width: 100%;
  margin-top: 50px; }
  .course .course_h h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: #E35205; }
  .course .course_h h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 70px;
    text-align: center;
    letter-spacing: 14px;
    color: #2867f0; }

.courses_cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px; }
  .courses_cont div {
    display: grid;
    width: 620px;
    height: 250px;
    background: #FFFFFF;
    /* Shadow */
    box-shadow: 15px 15px 35px 5px rgba(0, 0, 0, 0.15);
    border-radius: 35px;
    text-align: center; }
    .courses_cont div h2 {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 25px;
      line-height: 29px;
      text-align: center;
      color: #E35205;
      align-self: flex-end;
      margin-bottom: 39px; }
      .courses_cont div h2:hover {
        cursor: pointer;
        color: #ffa600; }

.news {
  width: 100%;
  height: 130vh;
  margin-top: 150px; }
  .news .news_h {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: #E35205; }
  .news .main_news_cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 31px; }
    .news .main_news_cont .news_cont {
      position: relative;
      width: 400px;
      height: 629px;
      background: #FFFFFF;
      /* Shadow */
      box-shadow: 15px 15px 35px 5px rgba(0, 0, 0, 0.15);
      border-radius: 35px; }
      .news .main_news_cont .news_cont .news_cont_img {
        width: 400px;
        height: 280px;
        background: url(/image/Rectangle.svg), #FFFFFF;
        background-repeat: no-repeat;
        background-size: cover;
        /* Shadow */
        box-shadow: 15px 15px 35px 5px rgba(0, 0, 0, 0.15);
        border-radius: 35px; }
      .news .main_news_cont .news_cont h2 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 30px;
        line-height: 35px;
        text-align: left;
        color: #E35205;
        margin-top: 17px;
        margin-left: 18px; }
      .news .main_news_cont .news_cont small {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 32px;
        margin-left: 18px;
        /* identical to box height, or 200% */
        letter-spacing: 0.01em;
        color: #5E8AB4; }
      .news .main_news_cont .news_cont p {
        width: 365px;
        height: 192px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        margin-left: 18px;
        /* or 178% */
        text-align: justify;
        letter-spacing: 0.01em;
        color: #555555; }
      .news .main_news_cont .news_cont .news_arrow {
        position: absolute;
        right: 14px;
        bottom: 9px;
        width: 60px;
        height: 60px;
        background: #FFFFFF;
        /* Shadow */
        box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.15);
        border-radius: 50%;
        text-align: center; }
        .news .main_news_cont .news_cont .news_arrow:hover {
          cursor: pointer; }
        .news .main_news_cont .news_cont .news_arrow img {
          margin: 22px; }

.news_cont_h h2 {
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  color: #A0072B; }

.news_cont_h h3 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 70px;
  text-align: center;
  letter-spacing: 14px;
  color: #2867f0; }

.news2 {
  height: 270vh !important; }

footer {
  background-color: #3C3032;
  width: 100%; }

.footer {
  width: 100%;
  margin-top: 200px;
  padding-top: 72px;
  display: flex;
  justify-content: space-around; }
  .footer .footer_cont1 h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 41px;
    color: #FFFFFF;
    margin: 22px 0; }
  .footer .footer_cont1 p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.01em;
    color: #dad8d8;
    margin: 22px 0; }
  .footer .footer_cont1 h3 {
    font-family: Calibri;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    text-align: left;
    color: #FFFFFF;
    margin: 22px 0; }

.footer_cont2 h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 41px;
  color: #FFFFFF;
  margin: 10px 0; }

.footer_cont2 p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  /* identical to box height, or 178% */
  letter-spacing: 0.01em;
  color: #dad8d8;
  margin: 10px 0; }

.footer_cont2 hr {
  border: 1px solid #FFFFFF;
  width: 288px; }

.subscribe p {
  font-family: Calibri, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 25px;
  margin-bottom: 12px; }

.subscribe .subscribe__input {
  width: 100%;
  position: relative; }
  .subscribe .subscribe__input input {
    width: 100%;
    padding: 20px 40px 8px 20px;
    border-radius: 35px;
    background-color: #DADADA;
    margin-bottom: 30px; }
    .subscribe .subscribe__input input::placeholder {
      font-family: 'Segoe UI', sans-serif;
      font-weight: 400;
      font-size: 22px;
      line-height: 29px;
      color: #000000; }

.subscribe .subscribe__arrow {
  position: absolute;
  left: 232px;
  bottom: 32px;
  width: 40px;
  height: 40px;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2; }
  .subscribe .subscribe__arrow img {
    color: #000; }

.copyright {
  padding: 23px 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  /* identical to box height, or 178% */
  text-align: center;
  letter-spacing: 0.01em;
  color: #FFFFFF; }

.events {
  width: 100%; }

.event_container {
  margin-left: 80px;
  margin-top: 70px;
  padding: 55px 70px;
  width: 1280px;
  height: 1145px;
  background: #FFFFFF;
  /* Shadow */
  box-shadow: 15px 15px 35px 5px rgba(0, 0, 0, 0.15);
  border-radius: 35px; }
  .event_container h2 {
    width: 633px;
    height: 70px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 70px;
    color: #A0072B; }
  .event_container p {
    width: 1132px;
    height: 195px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    text-align: justify;
    letter-spacing: 0.01em;
    color: #555555;
    margin-top: 10px; }
  .event_container .events_img {
    margin-top: 150px;
    display: grid;
    grid-template-columns: 250px 133px 352px 133px 250px; }
  .event_container h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.6em;
    color: #614541;
    margin-top: 60px; }
  .event_container .events_icon {
    display: flex;
    justify-content: center;
    align-items: center; }
    .event_container .events_icon img {
      width: 36px;
      height: 37px;
      margin-left: 8px;
      margin-top: 27px; }

.events .relNews {
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.6em;
  margin-top: 100px;
  color: #614541; }

.events .main_news_cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 38px; }
  .events .main_news_cont .news_cont {
    position: relative;
    width: 400px;
    height: 629px;
    background: #FFFFFF;
    /* Shadow */
    box-shadow: 15px 15px 35px 5px rgba(0, 0, 0, 0.15);
    border-radius: 35px; }
    .events .main_news_cont .news_cont .news_cont_img {
      width: 400px;
      height: 280px;
      background: url(/image/Rectangle.svg), #FFFFFF;
      background-repeat: no-repeat;
      background-size: cover;
      /* Shadow */
      box-shadow: 15px 15px 35px 5px rgba(0, 0, 0, 0.15);
      border-radius: 35px; }
    .events .main_news_cont .news_cont h2 {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 30px;
      line-height: 35px;
      text-align: left;
      color: #E35205;
      margin-top: 17px;
      margin-left: 18px; }
    .events .main_news_cont .news_cont small {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 32px;
      margin-left: 18px;
      /* identical to box height, or 200% */
      letter-spacing: 0.01em;
      color: #5E8AB4; }
    .events .main_news_cont .news_cont p {
      width: 365px;
      height: 192px;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 32px;
      margin-left: 18px;
      /* or 178% */
      text-align: justify;
      letter-spacing: 0.01em;
      color: #555555; }
    .events .main_news_cont .news_cont .news_arrow {
      position: absolute;
      right: 14px;
      bottom: 9px;
      width: 60px;
      height: 60px;
      background: #FFFFFF;
      /* Shadow */
      box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.15);
      border-radius: 50%;
      text-align: center; }
      .events .main_news_cont .news_cont .news_arrow:hover {
        cursor: pointer; }
      .events .main_news_cont .news_cont .news_arrow img {
        margin: 22px; }

.contact {
  width: 100%;
  text-align: center;
  padding-top: 170px; }
  .contact h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: #A0072B; }
  .contact h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 70px;
    text-align: center;
    letter-spacing: 14px;
    color: #c0c1c4; }
  .contact .contact_container {
    width: 1280px;
    height: 534px;
    background: #FFFFFF;
    box-shadow: 5px 5px 35px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    text-align: center; }
    .contact .contact_container h2 {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 25px;
      line-height: 29px;
      text-align: center;
      letter-spacing: 0.6em;
      padding-top: 47px;
      color: #614541; }
    .contact .contact_container .input_field {
      display: flex;
      margin-top: 47px;
      margin-left: 6px; }
      .contact .contact_container .input_field input {
        width: 549px;
        height: 50px;
        background: #FFFFFF;
        box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.15);
        border-radius: 35px;
        margin-left: 50px; }
    .contact .contact_container input {
      width: 1148px;
      height: 159px;
      background: #FFFFFF;
      box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.15);
      border-radius: 35px;
      margin-top: 37px; }
    .contact .contact_container button {
      width: 239px;
      height: 45px;
      background: #A0072B;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
      border: 0;
      border-radius: 25px;
      margin-top: 54px; }
  .contact .map_container {
    width: 1280px;
    height: 822px;
    text-align: center;
    background: url(image.png);
    filter: drop-shadow(5px 5px 35px rgba(0, 0, 0, 0.25));
    border-radius: 35px; }
    .contact .map_container img {
      width: 1280px; }

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif; }

.container {
  width: 1280px;
  margin: 0 auto; }

main {
  background-color: white; }
